DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
# In locale usa NEXTAUTH_URL, in produzione (Railway) usa AUTH_URL
NEXTAUTH_URL="http://localhost:3000"
# AUTH_URL="https://patrimonno-production.up.railway.app"
